header {
  padding-top: 50px;
}
/* banner section end */
.banner {
  height: 600px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-title {
  text-align: center;
  max-width: 632px;
}
.banner .banner-title .banner-subheading {
  color: #fff;
  font-size: 32px;
  margin-bottom: 16px;
  font-family: "Merriweather", serif;
}
.banner .banner-title .banner-heading {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  max-width: ;
}
/* banner section end */

/* announcement section start */
.announcement-section {
  padding: 120px 0;
}
.announcement-section .announcement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement-contents {
  text-align: center;
  max-width: 803px;
}
.announcement-contents #announcementHeader {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.announcement-contents .announcement-detail {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 16px;
}

.announcement-contents .category {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  font-family: Inter;
  margin-bottom: 48px;
}
.party-section {
  margin-bottom: 120px;
}
.party {
  height: 600px;

  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 40px;
}
.party-contents {
  margin-left: 120px;
  max-width: 700px;
}
.party-header {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.party-description {
  margin: 24px 0;
  color: rgba(255, 255, 255, 0.8);

  font-size: 18px;
  line-height: 30px;
}
.party-img {
  max-width: 320px;
}
/* Time Section */
.time-section {
}
.time-section .time {
  background: linear-gradient(180deg, #ffe6e5 0%, #fff 100%);
  height: 482px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.place {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 18px;
}
.place span {
  color: #f00;
}
.time-btn {
  text-align: center;
}
.time-section .primary-btn {
  margin-top: 25px;
}

/* coming-soon-section */

.coming-soon-section {
  padding: 120px 0;
}
.coming-soon-container {
  height: 463px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.left-col {
  max-width: 400px;
}
.left-col-subheading {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.left-col-heading {
  margin-top: 16px;
  margin-bottom: 22px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.left-col-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 32px; /* 160% */
}

.mid-col {
  max-width: 463px;
  height: 100%;

  border: 10px solid red;
  border-radius: 100%;
  padding: 38px;
}
.mid-col-img {
  /* position: relative; */
}
/* .dummy-div {
  position: absolute;
  border: 10px solid #f00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 0;
  left: 0;
  height: 463px;
  width: 463px;
} */

.mid-col-img img {
}

.right-col {
  max-width: 276px;
}
.right-col-heading {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.right-col-description {
  margin-top: 16px;
  margin-bottom: 43px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 32px;
}

.right-col-img {
  max-width: 140px;
}

/* Holiday Section */

.holiday-sale-title {
  text-align: center;
  max-width: 1068px;
}
.holiday-sale-subheading {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale-heading {
  margin-top: 16px;
  margin-bottom: 28px;
  color: #070211;
  font-size: 72px;
  font-weight: 900;
}
.holiday-sale-heading span {
  color: #f00;
}
.holiday-description {
  margin-bottom: 64px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.holiday-sale-banner {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.hol-banner-img-box {
  max-width: 430px;
  position: relative;
  display: flex;
  align-items: end;
}
.hol-banner-img-box img {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.hol-banner-img-box #fifty-percent {
  /*max-width: 206px;
  */
  position: absolute;
  top: 50%;
  left: -50%;
  max-width: 206px;
  transform: translate(50%, -50%) rotate(-1deg);
}
.red-box-container {
  position: relative;
}
#red-box {
  width: 100%;
}

#exploding-box {
  position: absolute;
  top: -150%;
  left: 42px;
  width: 50%;
}
