header {
  padding-top: 50px;
}
/* banner section end */
.banner {
  height: 600px;
  background-image: url("../images/Banner\ Image.png");
  border-radius: 16px;
  background-color: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-title {
  text-align: center;
  max-width: 632px;
}
.banner .banner-title .banner-subheading {
  color: #fff;
  font-size: 32px;
  margin-bottom: 16px;
  font-family: "Merriweather", serif;
}
.banner .banner-title .banner-heading {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  max-width: ;
}
/* banner section end */

/* announcement section start */
.announcement-section {
  padding: 120px 0;
}
.announcement-section .announcement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement-contents {
  text-align: center;
  max-width: 803px;
}
.announcement-contents #announcementHeader {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.announcement-contents .announcement-detail {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 16px;
}

.announcement-contents .category {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  font-family: Inter;
  margin-bottom: 48px;
}
.party-section {
  margin-bottom: 120px;
}
.party {
  height: 600px;
  background-image: url("../images/Vectorrr.png");
  border-radius: 16px;
  background-color: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
}
.party-contents {
  margin-left: 120px;
  max-width: 700px;
}
.party-header {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.party-description {
  margin: 24px 0;
  color: rgba(255, 255, 255, 0.8);

  font-size: 18px;
  line-height: 30px;
}

/* Time Section */
.time-section {
}
.time-section .time {
  background: linear-gradient(180deg, #ffe6e5 0%, #fff 100%);
  height: 482px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.place {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 18px;
}
.place span {
  color: #f00;
}
.time-btn {
  text-align: center;
}
.time-section .primary-btn {
  margin-top: 25px;
}

/* coming-soon-section */

.coming-soon-section {
  padding: 120px 0;
}
.coming-soon-container {
  display: flex;
}
.left-col {
  max-width: 400px;
}
.left-col-subheading {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.left-col-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.left-col-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 32px; /* 160% */
}
