header {
  padding-top: 45px;
}
/* banner section end */
.banner {
  height: 540px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14.4px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .banner-title {
  text-align: center;
  max-width: 632px;
  max-width: 569px;
}
.banner .banner-title .banner-subheading {
  color: #fff;
  font-size: 29px;
  margin-bottom: 14.4px;
  font-family: "Merriweather", serif;
}
.banner .banner-title .banner-heading {
  color: #fff;
  font-size: 65px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  max-width: ;
}
/* banner section end */

/* announcement section start */
.announcement-section {
  padding: 108px 0;
}
.announcement-section .announcement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement-contents {
  text-align: center;
  max-width: 722.6px;
}
.announcement-contents #announcementHeader {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 71px;
  font-weight: 700;
}
.announcement-contents .announcement-detail {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
  margin-top: 21.6px;
  margin-bottom: 14.4px;
}

.announcement-contents .category {
  color: #070211;
  font-size: 38.7px;
  font-weight: 700;
  font-family: Inter;
  margin-bottom: 43.2px;
}
.party-section {
  margin-bottom: 108px;
}
.party {
  height: 540px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14.4px;
  background-size: contain;
  display: flex;
  align-items: center;
  gap: 35.2px;
}
.party-contents {
  margin-left: 113.4px;
  max-width: 630px;
}
.party-header {
  color: #fff;
  font-size: 57.6px;
  font-weight: 900;
  letter-spacing: 6.336px;
}

.party-description {
  margin: 21.6px 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16.2px;
  line-height: 27px;
}
.party-img {
  max-width: 288px;
}
/* Time Section */
.time-section {
}
.time-section .time {
  background: linear-gradient(180deg, #ffe6e5 0%, #fff 100%);
  height: 433.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.place {
  color: #070211;
  font-size: 28.8px;
  font-weight: 600;
  margin-bottom: 16.2px;
}
.place span {
  color: #f00;
}
.time-btn {
  text-align: center;
}
.time-section .primary-btn {
  margin-top: 22.5px;
}

/* coming-soon-section */

.coming-soon-section {
  padding: 108px 0;
}
.coming-soon-container {
  height: 416.7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-col {
  max-width: 360px;
}
.left-col-subheading {
  color: #f00;
  font-size: 21.6px;
  font-weight: 500;
}
.left-col-heading {
  margin-top: 14.4px;
  margin-bottom: 19.8px;
  color: #070211;
  font-size: 43.2px;
  font-weight: 900;
}
.left-col-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 18px;
  line-height: 28.8px; /* 160% */
}

.mid-col {
  max-width: 416.7px;
  height: 100%;

  border: 5px solid #f00;
  border-radius: 100%;
  padding: 34.2px;
}
.mid-col-img {
}

.mid-col-img img {
}

.right-col {
  max-width: 248.4px;
}
.right-col-heading {
  color: #f00;
  font-family: Inter;
  font-size: 43.2px;
  font-weight: 700;
}

.right-col-description {
  margin-top: 14.4px;
  margin-bottom: 38.7px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 18px;
  line-height: 28.8px;
}

.right-col-img {
  max-width: 126px;
}

/* Holiday Section */

.holiday-sale-title {
  margin: 0 auto;
  text-align: center;
  max-width: 916.2px;
}
.holiday-sale-subheading {
  color: #070211;
  font-size: 21.6px;
  font-weight: 500;
}
.holiday-sale-heading {
  margin-top: 14.4px;
  margin-bottom: 25.2px;
  color: #070211;
  font-size: 64.8px;
  font-weight: 900;
}
.holiday-sale-heading span {
  color: #f00;
}
.holiday-description {
  margin-bottom: 57.6px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px; /* 160% */
}
.holiday-sale-banner {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.hol-banner-img-box {
  max-width: 387px;
  position: relative;
  display: flex;
  align-items: end;
}
.hol-banner-img-box img {
  border-radius: 9px 9px 0 0;
  -webkit-border-radius: 9px 9px 0 0;
  -moz-border-radius: 9px 9px 0 0;
  -ms-border-radius: 9px 9px 0 0;
  -o-border-radius: 9px 9px 0 0;
}

.hol-banner-img-box #fifty-percent {
  /*max-width: 206px;
  */
  position: absolute;
  top: 50%;
  left: -50%;
  max-width: 185.4px;
  transform: translate(50%, -50%) rotate(-1deg);
}
.red-box-container {
  position: relative;
}
#red-box {
  width: 100%;
}

#exploding-box {
  position: absolute;
  top: -153%;
  left: 60px;
  width: 50%;
}

/* portfolio section */
.portfolio-section {
  padding: 108px 0;
}
.portfolio-title {
  max-width: 896px;
}
.portfolio-subheading {
  color: #f00;
  font-family: Inter;
  font-size: 21.6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.portfolio-heading {
  margin-top: 14.4px;
  margin-bottom: 22px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}
.portfolio-description {
  margin-bottom: 48px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  line-height: 28.8px; /* 160% */
}
.portfolios-container {
  display: flex;
  /* flex-basis: 33%; */
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio-item {
  width: 32%;
  overflow: hidden;
  border-radius: 14.4px;
  -webkit-border-radius: 14.4px;
  -moz-border-radius: 14.4px;
  -ms-border-radius: 14.4px;
  -o-border-radius: 14.4px;
}
.portfolio-item img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.portfolio-item img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* Portfolio Section End */

/* Subscribe Section Start */

.subscribe-section {
  margin-bottom: 108px;
}
.subscribe-section .sub-section {
  border-radius: 14.4px;
  background: rgba(255, 0, 0, 0.05);
  height: 616px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-wrapper {
  width: 896px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscribe-image {
  max-width: 150px;
}
subscribe-section form {
  width: 650px;
}
form .input-field {
  width: 100%;
  /* position: relative; */
  display: flex;
  align-items: center;
}
form .input-field input {
  width: 500px;
  padding: 22px 40px 22px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
}
form .input-field button {
  /* position: absolute; */
  right: 0;
  top: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 30%;
}
/* Subscribe Section End */

footer {
  background-color: #070211;
}
footer .container {
  height: 610px;
  display: flex;
  justify-content: center;

  align-items: center;
}
.footer-wrapper {
  width: 100%;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
}
.footer-contact address {
  max-width: 375px;
  color: #fff;
  font-size: 21.6px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
}
.footer-contact .f-contact {
  width: 250px;
}
.f-contact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14.4px;
}
.f-contact img {
  max-width: 21.6px;
  height: 21.6px;
}
footer p {
  color: #fff;
  font-size: 21.6px;
  font-weight: 500;
  line-height: 40px;
}
footer hr {
  margin: 50px 0;
}
.social-icon-container {
  display: flex;
  justify-content: center;
  gap: 21.6px;
}
.social-item {
  width: 57.6px;
}

footer .copyright {
  display: flex;
  justify-content: space-between;
}
